<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<!-- Obtiene el recurso con la información de la base de datos -->
	<context:property-placeholder location="classpath:configuration/properties/connection.properties" />
	
	<!-- Creación del datasource -->
	<bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!-- Nombre de la clase del driver -->
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<!-- url de la database -->
		<property name="url" value="${connection.url}"></property>
		<!-- credenciales de sesion -->
		<property name="username" value="${connection.username}"></property>
		<property name="password" value="${connection.password}"></property>
	</bean>
	
	<!-- Creamos el session Factory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">		
		<property name="dataSource" ref="datasource"></property>
		<property name="mappingLocations" >		
		<list>
			<value>classpath:com/helpet/iw/mapping/Country.hbm.xml</value>
			<value>classpath:com/helpet/iw/mapping/Breed.hbm.xml</value>
			<value>classpath:com/helpet/iw/mapping/City.hbm.xml</value>
			<value>classpath:com/helpet/iw/mapping/Location.hbm.xml</value>
			<value>classpath:com/helpet/iw/mapping/Pet.hbm.xml</value>
			<value>classpath:com/helpet/iw/mapping/User.hbm.xml</value>
		</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="javax.persistence.validation.mode">none</prop>
			</props>
		</property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="dataSource" ref="datasource"></property>
	</bean>
	
	<bean id="BreedDao" class="com.helpet.iw.dao.hibernate.BreedDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="CityDao" class="com.helpet.iw.dao.hibernate.CityDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="CountryDao" class="com.helpet.iw.dao.hibernate.CountryDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	
	<bean id="LocationDao" class="com.helpet.iw.dao.hibernate.LocationDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	
	<bean id="PetDao" class="com.helpet.iw.dao.hibernate.PetDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="UserDao" class="com.helpet.iw.dao.hibernate.UserDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	
	<bean id="BreedB1" class="com.helpet.logic.implement.BreedB1Imp">
		<constructor-arg name="breedDao" ref="BreedDao"></constructor-arg>		
	</bean>
	
	<bean id="cityB1" class="com.helpet.logic.implement.CityB1Impl">
		<constructor-arg name="cityDao" ref="CityDao"></constructor-arg>	
		<constructor-arg name="countryDao" ref="CountryDao"></constructor-arg>		
	</bean>
	
	<bean id="countryB1" class="com.helpet.logic.implement.CountryB1Imp">
		<constructor-arg name="countryDao" ref="CountryDao"></constructor-arg>		
	</bean>
	
	<bean id="locationB1" class="com.helpet.logic.implement.LocationB1Impl">
		<constructor-arg name="userDao" ref="UserDao"></constructor-arg>	
		<constructor-arg name="petDao" ref="PetDao"></constructor-arg>	
		<constructor-arg name="locationDao" ref="LocationDao"></constructor-arg>		
	</bean>
	
	<bean id="petB1" class="com.helpet.logic.implement.PetB1Impl">
		<constructor-arg name="petDao" ref="PetDao"></constructor-arg>
		<constructor-arg name="userDao" ref="UserDao"></constructor-arg>
		<constructor-arg name="breedDao" ref="BreedDao"></constructor-arg>		
	</bean>
	
	<bean id="userB1" class="com.helpet.logic.implement.UserB1Impl">
		<constructor-arg name="userDao" ref="UserDao"></constructor-arg>
		<constructor-arg name="cityDao" ref="CityDao"></constructor-arg>			
	</bean>
	
	<bean id="CountryTest" class="com.helpet.logic.test.CountryPrueba">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<context:component-scan base-package="com.helpet.rest"></context:component-scan>
	
</beans>
